# ignore everything
/*

# do not ignore subdirectories
!*/

# ingore css
/css/

# ignore js
/js/

# ignore files starting with "." ie: .DS_Store
.*

# ignore grunt node modules
node_modules/

# do not ignore the following files in theme root
!.gitignore
!composer.json
!favicon.ico
!functions.php
!Gruntfile.js
!LICENSE
!package.json
!README.md
!screenshot.png
!style.css